PORT=7007
CORS_ORIGIN="http://localhost:5173,http://localhost:8080"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/potatocontra?schema=public"

# PORT="7007"

# DATABASE_URL="postgresql://neondb_owner:npg_2PLbQ0cSheOH@ep-icy-mud-anuqn3xf-pooler.c-6.us-east-1.aws.neon.tech/contra_db?sslmode=require&channel_binding=require"